# ===== DB関連 =====
APP=kuon
POSTGRES_USER=postgres
POSTGRES_PASSWORD=knowledge
POSTGRES_DB=kuon_db
PRJ_DB_NAME=kuon_db
DB_PORT=5432
DB_DATA_VOLUME=vol-kuon

# ===== サーバ関連 =====
DATABASE_URL=postgresql://postgres:knowledge@db:5432/kuon_db?schema=knowledge
SERVER_PORT=9040
APP_SITE_URL=
JWT_SECRET=

# ===== その他 =====
TZ=Asia/Tokyo